*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.content1{
    width: 100%; 
    height: 100%;
}
.first{
    width: 1400px;
    height: 280px;
    background-color:rgb(217,214,214) ;
    margin-left:70px ;
    margin-top: 50px;
    margin-right:20px ;
}
#btn1{
    margin-left: 70px;
}
h1{
    margin-top: 50px;
    color: black;
    margin-left :70px; 
}
p{
    margin-left: 70px;
    margin-top:50px ;
}
hr{
    margin-bottom:80px ;
}
h3{
    margin-left:70px ;
}
.card{
    margin-left:70px ;
    height: 300px;
    width:300px ;
}
.card1{
    display: flex;
}
